*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.counter {
    width: 100px;
    height: auto;
    margin: 0 auto;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 99%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    border-radius: 15px;
    border: none;
    padding: 13px 5px;
    width: 100%;
    overflow-x: hidden;
}

#increment-btn {
    background-color: #1abc9c;
    color: #FFFFFF;
    font-weight: bolder;
    text-transform: uppercase;
}

#save-btn {
    background-color: #2BD191;
    color: #FFFFFF;
    font-weight: bolder;
    text-transform: uppercase;
}

/*CALCULATOR*/

.calculator {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
    margin: 200px auto;
    text-align: center;
    width: 300px;

}

span {
    border-bottom: 2px solid black;
    padding: 4px;
}

button {
    margin: 20px 0;
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 8px;
}